{% extends "base.html" %}
{% block title %}Добавить статью{% endblock %}
{% block hd %}Добавить статью{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('write_article',cid=cid) }}">
Заголовок:<br>
<input type="text" id="ttl" name="title" required placeholder="Заголовок">
<br><br>
Текст:<br>
<textarea id="txt" name="content" required placeholder="Текст" style="min-width:400px;min-height:122px;"></textarea><br>
<input type="submit" value="Добавить">
</form>
{% endblock %}